<div class="pull-right">
    <ul class="nav navbar-nav pull-right">
        <li class="dropdown notifications hidden-xs">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="fa fa-flag-o"></span>
                <div class="sr-only">
                    Notifications
                </div>
                <p class="counter">
                    4
                </p>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">
                        <div class="notifications label label-info">
                            New
                        </div>
                        <p>
                            New user added: Jane Smith
                        </p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown messages hidden-xs">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="fa fa-envelope-o"></span>
                <div class="sr-only">
                    Messages
                </div>
                <p class="counter">
                    3
                </p>
            </a>
            <ul class="dropdown-menu messages">
                <li>
                    <a href="#">
                        <img width="34" height="34" src="#">Could we meet today? I wanted...
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="34" height="34" src="#">Important data needs your analysis...
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="34" height="34" src="#">Buy Se7en today, it's a great theme...
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown user hidden-xs">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img width="34" height="34" src="#">John Смит<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">
                        <i class="fa fa-user"></i>My Account
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-gear"></i>Account Settings
                    </a>
                </li>
                <li>
                    <a href="login1.html">
                        <i class="fa fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
