@{
    ViewBag.Title = "Signin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="loginBox">
    <div>
        <div class="head">
            <h4>Log in to your account</h4>
        </div>
        <div class="login">
            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {
                <input type="text" class="form-control input-login" placeholder="Username">
                <input type="password" class="form-control input-login" placeholder="Password">
                <div class="remember">
                    <div class="left">
                        <!--<input id="remember_me" type="checkbox">
                        <label for="remember_me">Remember me</label>-->
                        <label class="checkbox"><input type="checkbox"><span>Checkbox 1</span></label>
                    </div>
                    <div class="login-right">
                        <a href="reset.html">Forgot password?</a>
                    </div>
                </div>
                <input type="submit" class="btn btn-login btn-primary" value="Sign in">
            }
        </div>
    </div>
</div>
<p class="already">Don't have an account? <a href="/registration/"> Sign up</a></p>
